@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Nunito", sans-serif;
}

html {

    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

body {
    background: #e3e6f3;
}

section {
    /* width: 100%; */
    min-height: 100vh;

    padding: 5vw 2vw 5vw;
}

.header {

    width: 100vw;
    padding: 2vw 9vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2vw;
    font-weight: 750;
    cursor: default;
    color: #000;
    position: relative;
}


.logo::before {
    content: '';
    display: inline-block;
    width: 2vw;
    height: 2vw;
    background-color: orange;
    border-radius: 50%;

    position: absolute;
    top: 49%;
    left: -40px;
    transform: translateY(-51%);
}

.logo span {
    font-size: 1.5vw;
    font-weight: 400;
    color: grey;

}

#navbar {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 2vw;


}

#navbar li {
    list-style: none;

}

#navbar li a {
    text-decoration: none;
    font-size: 1.8vw;
    font-weight: 500;
    color: rgb(68, 64, 64);
    transition: 0.3s ease;
}

#navbar li a:hover {
    color: rgb(175, 14, 46);

}

#navbar .line {
    width: 1.7px;
    height: 25px;
    background-color: rgb(68, 64, 64);

}

.navbar a:hover {
    color: red;
}



#menu-icon {
    font-size: 3.6rem;
    color: #000;
    display: none;
}

#close {
    font-size: 3.6rem;
    color: #000;
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7vw;


}

.home-content {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    margin-left: 2vw;

}

.home-content h1 {
    font-size: 4.5vw;
    font-weight: 800;
    line-height: 1.5;

}

.home-content h3 {
    font-size: 2vw;
    font-weight: 700;
    line-height: 2;
}

.home-content p {
    font-size: 1.5vw;
    text-align: justify;
    line-height: 1.4;
    width: 40vw;

}

.home-img img {
    width: 30vw;
    border-radius: 50%;
    margin-bottom: 4vw;

}

.button {
    display: flex;
    /* justify-content: center; */
}

.button a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
    color: #000;
    font-weight: 800;
    border: 2px solid gray;
    border-radius: 50%;
    font-size: 1.5vw;
    margin: 1vw 2vw 1vw 0;
    transition: .5s ease;
}

.button a:nth-child(1) {
    background-color: #eea302;

}

.button a:nth-child(2) {
    background-color: #ff3b25;

}

.button a:nth-child(3) {
    background-color: #80d8da;

}

.button a:hover {
    background-color: #fff;
}

.footer {
    padding: 2vw 0.2vw 1.2vw 0.2vw;
    border-top: 2px solid #dadada;
    color: #777;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footer .col {
    flex: 1 1 10rem;
    margin-bottom: 1.5vw;
    padding: 0 5vw;
}

.footer .col h3 {
    font-size: 1.8vw;
    margin-bottom: 0.6vw;
}

.footer .col p {
    font-size: 1.4vw;
}

.footer .col i {
    margin-right: 1vw;
    cursor: pointer;
    font-size: 1.5vw;
}



@media (max-width: 1160px) {
    .logo {
        font-size: 2.5vw;



    }


    .logo::before {
        content: '';

        width: 2.5vw;
        height: 2.5vw;

        position: absolute;
        top: 49%;
        left: -38px;
        transform: translateY(-51%);
    }

    .logo span {
        font-size: 1.8vw;

    }
}

@media (max-width: 1000px) {


    .logo::before {
        content: '';

        width: 2.5vw;
        height: 2.5vw;

        position: absolute;
        top: 50%;
        left: -34px;
        transform: translateY(-51%);
    }

}

@media (max-width: 900px) {



    .logo::before {
        content: '';

        width: 2.5vw;
        height: 2.5vw;
        position: absolute;
        top: 52%;
        left: -32px;
        transform: translateY(-51%);
    }

}


@media(max-width: 768px) {


    .header {
        padding: 4vw 10vw;
    }

    .logo {
        font-size: 3.5vw;

        position: relative;
    }


    .logo::before {
        content: '';

        width: 3.5vw;
        height: 3.5vw;


        position: absolute;
        top: 48%;
        left: -33px;
        transform: translateY(-51%);
    }

    .logo span {
        font-size: 2.2vw;

    }

    #navbar li a {

        font-size: 4vw;
        font-weight: 700;
        display: block;
        margin: 3vw 0;



    }







    .navbar {
        position: fixed;
        top: 0;
        right: -1000px;
        width: 500px;
        padding: 80px 0 0 10px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        height: 100%;
        background: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        z-index: 999;

    }

    #navbar.active {
        right: 0px;
    }

    #menu-icon {
        font-size: 4vw;
        display: block;
        /* margin-left: 35vw; */
    }

    #close {
        position: absolute;
        display: initial;
        top: 30px;
        left: 50px;
        font-size: 5vw;
        font-family: 700;
    }

    .navbar .line {
        display: none;
    }



    .home {
        flex-direction: column;
    }

    .home-content h1 {
        font-size: 5vw;
    }

    .home-content h3 {
        font-size: 2.5vw;
    }

    .home-content p {
        font-size: 2.5vw;
        text-align: justify;
        line-height: 1.5;
        width: 70vw;

    }


    .home-img img {
        width: 50vw;
        margin-top: 0;
    }

    .button {
        display: flex;
        justify-content: center;
    }

    .button a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 15vw;
        height: 15vw;
        color: #000;
        font-weight: 800;
        border: 2px solid gray;
        border-radius: 50%;
        font-size: 2.5vw;
        margin: 2.5vw 2.5vw 2vw 0;
        transition: .5s ease;
    }

    .footer {
        padding: 5vw 0.2vw 2vw 0.2vw;
        border-top: 2px solid #dadada;
        color: #777;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    .footer .col {
        flex: 1 1 20rem;
        margin-bottom: 3.5vw;
        padding: 0 8vw;
    }

    .footer .col h3 {
        font-size: 2.5vw;
        margin-bottom: 0.6vw;
    }

    .footer .col p {
        font-size: 2vw;
    }

    .footer .col i {
        margin-right: 2.2vw;
        cursor: pointer;
        font-size: 2.4vw;
    }



}



@media(max-width: 475px) {

    .header {
        padding: 4vw 11vw;
    }

    .logo {
        font-size: 6vw;
        font-weight: 750;

    }

    .logo::before {
        content: '';

        width: 5.5vw;
        height: 5.5vw;

        position: absolute;
        top: 50%;
        left: -33px;
        transform: translateY(-51%);
    }

    .logo span {
        font-size: 4.2vw;


    }

    #navbar li a {
        font-size: 6vw;
    }

    .navbar {
        position: fixed;
        top: 0;
        right: -1000px;
        width: 300px;
        padding: 80px 0 0 10px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        height: 100%;
        background: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        z-index: 999;

    }

    #menu-icon {
        font-size: 8vw;
        display: block;
        /* margin-left: 35vw; */
    }



    #close {
        position: absolute;
        display: initial;
        top: 30px;
        left: 40px;
        font-size: 7vw;
        font-weight: 800;
    }





    .home-content h1 {
        font-size: 8vw;
    }

    .home-content h3 {
        font-size: 4.5vw;
    }

    .home-content p {
        font-size: 3.5vw;
        text-align: justify;
        line-height: 1.5;
        width: 78vw;

    }


    .home-img img {
        width: 75vw;
        margin-top: -5vw;
    }

    .button {
        display: flex;
        justify-content: center;
    }

    .button a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 22vw;
        height: 22vw;
        color: #000;
        font-weight: 800;
        border: 2px solid gray;
        border-radius: 50%;
        font-size: 3.5vw;
        margin: 4vw 2.5vw 2vw 0;
        transition: .5s ease;
    }

    .footer {
        padding: 5vw 0.2vw 2vw 0.2vw;
        border-top: 2px solid #dadada;
        color: #777;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    .footer .col {
        flex: 1 1 20rem;
        margin-bottom: 3.5vw;
        padding: 0 8vw;
    }

    .footer .col h3 {
        font-size: 3.5vw;
        margin-bottom: 0.6vw;
    }

    .footer .col p {
        font-size: 3vw;
    }

    .footer .col i {
        margin-right: 2.2vw;
        cursor: pointer;
        font-size: 4vw;
    }



}

@media(max-width: 375px) {

    .header {
        padding: 4vw 13vw;
    }

    .logo {
        font-size: 6.5vw;

        position: relative;
    }

    .logo::before {
        content: '';

        width: 5.5vw;
        height: 5.5vw;


        position: absolute;
        top: 50%;
        left: -28px;
        transform: translateY(-51%);
    }


    .logo span {
        font-size: 4.2vw;


    }

    #navbar li a {

        font-size: 7vw;
        font-weight: 700;
        margin: 5vw 0;

    }

    .navbar {
        position: fixed;
        top: 0;
        right: -1000px;
        width: 300px;
        padding: 80px 0 0 10px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        height: 100%;
        background: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        z-index: 999;

    }

    #menu-icon {
        font-size: 6vw;
        display: block;
        /* margin-left: 35vw; */
    }

    #close {
        position: absolute;
        display: initial;
        top: 30px;
        left: 40px;
        font-size: 8vw;
    }





    .home-content h1 {
        font-size: 6vw;
    }

    .home-content h3 {
        font-size: 3.5vw;
    }

    .home-content p {
        font-size: 3.5vw;
        text-align: justify;
        line-height: 1.5;
        width: 75vw;

    }


    .home-img img {
        width: 80vw;
        margin-top: 0;
    }

    .button {
        display: flex;
        justify-content: center;
    }

    .button a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 24vw;
        height: 24vw;
        color: #000;
        font-weight: 800;
        border: 2px solid gray;
        border-radius: 50%;
        font-size: 4vw;
        margin: 2.5vw 2.5vw 2vw 0;
        transition: .5s ease;
    }

    .footer {
        padding: 5vw 0.2vw 2vw 0.2vw;
        border-top: 2px solid #dadada;
        color: #777;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    .footer .col {
        flex: 1 1 20rem;
        margin-bottom: 3.5vw;
        padding: 0 8vw;
    }

    .footer .col h3 {
        font-size: 4.5vw;
        margin-bottom: 0.6vw;
    }

    .footer .col p {
        font-size: 4vw;
    }

    .footer .col i {
        margin-right: 2.2vw;
        cursor: pointer;
        font-size: 4.4vw;
    }



}

@media(max-width: 325px) {

    .header {
        padding: 4vw 13vw;
    }

    .logo {
        font-size: 6.5vw;

        position: relative;
    }

    .logo span {
        font-size: 4.2vw;


    }

    #menu-icon {
        font-size: 8vw;
        display: block;
        /* margin-left: 35vw; */
    }



    .logo::before {
        content: '';
        display: inline-block;
        width: 7vw;
        height: 7vw;
        background-color: orange;
        border-radius: 50%;

        position: absolute;
        top: 51%;
        left: -27px;
        transform: translateY(-51%);
    }




    #navbar li a {
        font-size: 8vw;
        margin: 6vw 0;
    }

    .navbar {
        position: fixed;
        top: 0;
        right: -1000px;
        width: 100vw;
        padding: 80px 0 0 10px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        height: 100%;
        background: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        z-index: 999;

    }

    #navbar.active {
        right: 0px;
    }

    #close {
        position: absolute;
        display: initial;
        top: 30px;
        left: 40px;
        font-size: 9vw;
    }

    .navbar .line {
        display: none;
    }



    .home {
        flex-direction: column;
    }

    .home-content h1 {
        font-size: 9vw;
    }

    .home-content h3 {
        font-size: 4.5vw;
    }

    .home-content p {
        font-size: 4.5vw;
        text-align: justify;
        line-height: 1.5;
        width: 85vw;

    }


    .home-img img {
        width: 85vw;
        margin-top: 0;
    }

    .button {
        display: flex;
        justify-content: center;
    }

    .button a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 28vw;
        height: 28vw;
        color: #000;
        font-weight: 800;
        border: 2px solid gray;
        border-radius: 50%;
        font-size: 5vw;
        margin: 2.5vw 2.5vw 2vw 0;
        transition: .5s ease;
    }

    .footer {
        padding: 5vw 0.2vw 2vw 0.2vw;
        border-top: 2px solid #dadada;
        color: #777;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

    }

    .footer .col {
        flex: 1 1 20rem;
        margin-bottom: 3.5vw;
        padding: 0 8vw;
    }

    .footer .col h3 {
        font-size: 5.5vw;
        margin-bottom: 0.6vw;
    }

    .footer .col p {
        font-size: 4.5vw;
    }

    .footer .col i {
        margin-right: 2.2vw;
        cursor: pointer;
        font-size: 5.4vw;
    }



}

/*------resume page-------*/
.resume {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}